.product-list .card {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-list .card img {
    object-fit: cover;
    height: 200px;
  }
  
  .product-list .card-body {
    text-align: center;
  }
  
  .product-list .card-title {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
  }
  
  .product-list .card-text {
    font-size: 0.875rem;
    color: #777;
  }
  .price-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .category-brand-info {
    margin-top: 10px; 
  }
  
  .category-brand-info p {
    margin: 0; 
  }
  
  .category-brand-info span {
    font-weight: bold; 
  }
    

  .d-flex.align-items-center img {
    object-fit: cover;
    border-radius: 8px;
  }
  
  .btn.btn-light {
    border-radius: 50%;
    padding: 0.25rem 0.75rem;
  }
  