
  
  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
  }
  

.form-control {
    border-radius: 25px;
  }
  
  .btn-primary {
    background: linear-gradient(135deg, #6a1b9a, #d64dff);
    border: none;
    border-radius: 25px;
  }
  
  .input-group-text {
    background-color: transparent;
    border: none;
  }
  
  a {
    color: #6a1b9a;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  